body{
	background-color: #f5d742;
	font-family: 'Roboto';
}

.card{
	width: 50vh;
	height: 80vh;
	background-color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: scroll;
}
.image{
	width: 25vh;
	height: 25vh;
	border-radius: 50%;
	display: block;
}
.email{
	color: #575757;
}
.link{
	color:  #575757;
}